 h2{ text-align: center;

 }
  p{
      line-height:180%; ;
      text-indent: 20px;}
      .first{color :darkblue;}

      #first{ color: rgb(210, 30, 30);}

      body{ background-color: coral;} 